<th:block th:fragment="head">
	<meta charset="UTF-8" />
	<title>Crud Manager</title>

	<!-- Tailwind CSS -->
	<script src="https://cdn.tailwindcss.com"></script>

	<nav class="bg-gray-900 bg-opacity-90 p-4 shadow-lg">
		<div class="container mx-auto flex items-center justify-between">
			<a th:href="@{/}" class="text-white text-xl font-bold">Sistema ERP</a>
			<div class="space-x-4">
				<a th:href="@{/categories}" class="text-gray-300 hover:text-white">Categorias</a>
				<a th:href="@{/products}" class="text-gray-300 hover:text-white">Produtos</a>
				<a th:href="@{/users}" class="text-gray-300 hover:text-white">Usuários</a>
			</div>
		</div>
	</nav>
</th:block>
